USE [master]
GO
/****** Object:  Database [AguilaCurda]    Script Date: 17/11/2019 18:17:09 ******/
CREATE DATABASE [AguilaCurda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AguilaCurda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AguilaCurda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AguilaCurda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AguilaCurda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AguilaCurda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AguilaCurda]
GO
/****** Object:  Table [dbo].[Articulo]    Script Date: 17/11/2019 18:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulo](
	[Id_Articulo] [int] NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Marca] [varchar](20) NULL,
	[Costo] [float] NULL,
	[Precio_Unitario] [float] NULL,
	[Proveedor] [varchar](50) NULL,
	[Vencimiento] [varchar](50) NULL,
 CONSTRAINT [PK_Articulo] PRIMARY KEY CLUSTERED 
(
	[Id_Articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 17/11/2019 18:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[CodCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](10) NULL,
	[NroDocumento] [nchar](23) NULL,
	[Telefono] [nchar](10) NULL,
	[Direccion] [nchar](50) NULL,
	[Sexo] [nchar](10) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[CodCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 17/11/2019 18:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[Id] [int] NOT NULL,
	[NroFactura] [int] NULL,
	[Timbrado] [int] NULL,
	[Cliente] [int] NULL,
	[TipoPago] [int] NULL,
	[FechaFactura] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 17/11/2019 18:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[CodProveedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](10) NULL,
	[NroDocumento] [nchar](10) NULL,
	[Telefono] [nchar](10) NULL,
	[Direccion] [nchar](50) NULL,
	[PersonaContacto] [nchar](50) NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[CodProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
